.paginator {
    margin: 10px;
    display: flex;
    align-items: center;
padding-left: 100px;
    padding-top: 50px;
    height: 25px;
}
.pageNumber {
    padding: 2px;
    margin: 0 5px;

    font-size: 20px;
    line-height: 25px;
}

.pageNumber:hover {
    cursor: pointer;
}

.btn {
    background: transparent;
    border: 0;
    outline: 0;

    margin: 0;
    padding: 0;
}

.btnIcon {
    width: 25px;
    height: 25px;

    margin-bottom: -4px;
}

.btnIcon:hover {
    cursor: pointer;
}


.pageNumber.selectedPage {
    font-weight: bold;
    border-color: black;
}