.content {

    padding-top: 50px;
    padding-left: 100px;
    width: 60%;
    max-width: 450px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.messageItem {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-top: 3px;
}

.messageItemYour {
    justify-content: flex-end;
}

.userAva {
    width: 25px;
    height: 25px;
    border-radius: 50%;

    margin: 0 5px;
}

.chat {
    width: 430px;
    height: 150px;

    padding: 5px;

    border: 1px solid #44444456;
    border-radius: 12px;
}

.sendMessageForm {

}

.textarea {
    outline: none;
    resize: none;

    width: 350px;
    height: 30px;
    margin-top: 30px;
    margin-left: 100px;
    padding: 2px 5px;

    font-size: 16px;
    font-style: italic;

    background-color: rgba(255, 255, 255, 0.103);
    border: 1px solid rgba(75, 70, 70, 0.473);
    border-radius: 12px;
}

.sendBtn {
    margin-top: 10px;
    margin-left: 360px;
    width: 80px;
    height: 27px;

    border: 1px solid #888;
    border-radius: 12px;
    outline: none;
    font-size: 15px;
    font-weight: 600;
}

.sendBtn:hover {
    color: #777;
    cursor: pointer;
}


