.header {
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 20;
}

.banner {
    width: 100%;
    height: 100%;
    background-color: #7c7e80;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
}

.logFrom {
    display: flex;
}

.login,
.logoutBtn {
    padding: 15px 45px 0 0;
    color: #cccccc;
    font-size: 21px;
}

.logoutBtn:hover {
    cursor: pointer;
    opacity: .8;
}

.name {
    color: #cccccc;
    padding-right: 45px;
}

.error {
    width: 210px;

    text-align: center;
    color: darkred;
    border: 1px solid darkred;
    border-radius: 3px;
}
