.header {
    grid-area: h;
    background-color: #ffe23b;
}

.header img {
    width: 60px;
    margin-top: 10px;
    margin-left: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    text-decoration: none;
    color: white;
}

.loginBlock a.activeLink {
    color: #05ffca;
}