.nav {
    margin-top: 70px;
    width: 13%;
    height: calc(100vh - 50px);

}

.navList {
    padding-top: 30px;
    padding-left: 30px;
    width: 11%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;

    opacity: .7;
}

.item {
    height: 30px;
    font-weight: 600;
}

.item a {
    display: block;
    height: 30px;
    font-size: 18px;
    color: aliceblue;
}

.item a.activeNav {
    color: rgba(255, 255, 255, .3);
    text-shadow: 0 0 15px rgba(255, 255, 255, .5), 0 0 10px rgba(255, 255, 255, .5);
}

.friends {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: auto;

    margin-top: 5px;
    margin-bottom: 20px;
}

